<%= form_with(model: camp, local: true) do |form| %>
  <% if camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camp.errors.count, "error") %> prohibited this camp from being saved:</h2>

      <ul>
      <% camp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :did %>
    <%= form.text_field :did %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :sdata %>
    <%= form.date_select :sdata %>
  </div>

  <div class="field">
    <%= form.label :edate %>
    <%= form.date_select :edate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
