<p id="notice"><%= notice %></p>

<p>
  <strong>Did:</strong>
  <%= @form.did %>
</p>

<p>
  <strong>Model:</strong>
  <%= @form.model %>
</p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Date1:</strong>
  <%= @form.date1 %>
</p>

<p>
  <strong>Date2:</strong>
  <%= @form.date2 %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
